{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Ujala Sahar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="logo pull-left">
            <a href="/">
                <img src="{% static 'img/resources/logo.png' %}" alt="Header Logo"/>
            </a>
        </div>
        <div class="header-right-info pull-right clearfix">
            <div class="single-header-info">
                <div class="icon-box">
                    <div class="inner-box">
                        <i class="flaticon-interface-2"></i>
                    </div>
                </div>
                <div class="content">
                    <h3>EMAIL</h3>
                    <p>uso1993@yahoo.com</p>
                </div>
            </div>
            <div class="single-header-info">
                <div class="icon-box">
                    <div class="inner-box">
                        <i class="flaticon-telephone"></i>
                    </div>
                </div>
                <div class="content">
                    <h3>Call Now</h3>
                    <p><b>(+92) 345-9517808</b></p>
                </div>
            </div>
            <div class="single-header-info">
                <a class="thm-btn" href="{% url 'donations' %}">Donate Now</a>
            </div>
        </div>
    </div>
</header>
<nav class="mainmenu-area stricky">
    <div class="container">
        <div class="navigation pull-left">
            <div class="nav-header">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="events-grid.html">Events</a></li>
                    <li><a href="{% url 'projects' %}">Projects</a></li>
                    <li><a href="{% url 'volunteers' %}">Volunteers</a></li>
                    <li><a href="{% url 'gallery' %}">Gallery</a></li>
                    <li><a href="{% url 'donations' %}">Donation</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </div>
            <div class="nav-footer">
                <button><i class="fa fa-bars"></i></button>
            </div>
        </div>
    </div>
</nav>
<div>
    {% block bodyContent %}{% endblock %}
</div>
<footer class="footer sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="footer-widget about-widget">
                    <a href="#">
                        <img src="{% static 'img/resources/footer-logo.png' %}" alt="Footer Logo"/>
                    </a>
                    <p>Lorem ipsum dolor sit amet, eu me evert laboramus, iudico </p>
                    <ul class="contact">
                        <li><i class="fa fa-map-marker"></i> <span>60 Grant Ave. Carteret NJ 0708</span></li>
                        <li><i class="fa fa-phone"></i> <span>(+92) 345-9517808</span></li>
                        <li><i class="fa fa-envelope-o"></i> <span>uso1993@yahoo.com</span></li>
                    </ul>
                    <ul class="social">
                        <li><a href="https://www.fb.com/ujalasaharorg" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 latest-post col-sm-6">
                <div class="footer-widget latest-post">
                    <h3 class="title">Latest News</h3>
                    <ul>
                        <li>
                            <span class="border"></span>
                            <div class="content">
                                <a href="#">If you need a crown or lorem an implant you will pay it </a>
                                <span>July 2, 2014</span>
                            </div>
                        </li>
                        <li>
                            <span class="border"></span>
                            <div class="content">
                                <a href="#">If you need a crown or lorem an implant you will pay it </a>
                                <span>July 2, 2014</span>
                            </div>
                        </li>
                        <li>
                            <span class="border"></span>
                            <div class="content">
                                <a href="#">If you need a crown or lorem an implant you will pay it </a>
                                <span>July 2, 2014</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="footer-widget contact-widget">
                    <h3 class="title">Visitors</h3>
                    <a href="https://info.flagcounter.com/C458"><img
                            src="https://s01.flagcounter.com/countxl/C458/bg_262F36/txt_E0E0E0/border_262F36/columns_3/maxflags_30/viewers_1/labels_1/pageviews_1/flags_0/percent_0/"
                            alt="Visitors Counter"></a>
                </div>
            </div>
        </div>
    </div>
</footer>


<section class="footer-bottom">
    <div class="container text-center">
        <p>&copy; <span id="year"></span> Ujala Sahar. All Rights Reserved. Developed By <a href="https://fb.com/fawadkhan546"
                                                                         target="_blank">Fawad.</a>
        </p>
    </div>
</section>

<script>
const d = new Date();
document.getElementById("year").innerHTML = d.getFullYear();
</script>

<!-- main jQuery -->
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- bx slider -->
<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
<!-- owl carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- validate -->
<script src="{% static 'js/jquery-parallax.js' %}"></script>
<!-- validate -->
<script src="{% static 'js/validate.js' %}"></script>
<!-- mixit up -->
<script src="{% static 'js/jquery.mixitup.min.js' %}"></script>
<!-- fancybox -->
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<!-- easing -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<!-- circle progress -->
<script src="{% static 'js/circle-progress.js' %}"></script>
<!-- appear js -->
<script src="{% static 'js/jquery.appear.js' %}"></script>
<!-- count to -->
<script src="{% static 'js/jquery.countTo.js' %}"></script>
<!-- gmap helper -->
<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
<!-- gmap main script -->
<script src="{% static 'js/gmap.js' %}"></script>

<!-- isotope script -->
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<!-- jQuery ui js -->
<script src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js' %}"></script>

<!-- revolution scripts -->

<script src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.video.min.js' %}"></script>


<!-- thm custom script -->
<script src="{% static 'js/custom.js' %}"></script>


</body>
</html>