{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block bodyContent %}
    <section class="rev_slider_wrapper">
        <div id="slider1" class="rev_slider" data-version="5.0">
            <ul>
                <li data-transition="parallaxvertical">
                    <img src="{% static 'img/slides/1.jpg' %}" alt="" width="1920" height="705"
                         data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                    <div class="tp-caption sfl tp-resizeme thm-banner-h1 bg-warning" data-x="left" data-hoffset="0" data-y="top"
                         data-voffset="225" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0"
                         data-transform_out="o:0" data-start="500">To feed and educate!
                    </div>
                    <div class="tp-caption sfr tp-resizeme thm-banner-h1 heavy bg-danger" data-x="left" data-hoffset="0"
                         data-y="top" data-voffset="290" data-whitespace="nowrap" data-transform_idle="o:1;"
                         data-transform_in="o:0" data-transform_out="o:0" data-start="1000">We need your support
                    </div>
                    <div class="tp-caption sfb tp-resizeme thm-banner-h3" data-x="left" data-hoffset="0" data-y="top"
                         data-voffset="368" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0"
                         data-transform_out="o:0" data-start="1500">Became a part to change the world
                    </div>
                    <div class="tp-caption sfb tp-resizeme thm-banner-p" data-x="left" data-hoffset="0" data-y="top"
                         data-voffset="430" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0"
                         data-transform_out="o:0" data-start="2000">Our Company has a long tradition of charitable
                        giving and <br> philanthropy. Lorem ipsum dolor sit amet.
                    </div>
                    <div class="tp-caption sfl tp-resizeme" data-x="left" data-hoffset="0" data-y="top"
                         data-voffset="505" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0"
                         data-transform_out="o:0" data-start="2300">
                        <a href="{% url 'donations' %}" class="thm-btn">Donate Now</a>
                    </div>
                    <div class="tp-caption sfr tp-resizeme" data-x="left" data-hoffset="185" data-y="top"
                         data-voffset="505" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0"
                         data-transform_out="o:0" data-start="2600"><a href="#" class="thm-btn inverse">Learn More</a>
                    </div>
                </li>
                <li data-transition="parallaxvertical">
                    <img src="{% static 'img/slides/2.jpg' %}" alt="" width="1920" height="705"
                         data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="2">
                    <div class="tp-caption sfl tp-resizeme thm-banner-h1 blue-bg" data-x="left" data-hoffset="0"
                         data-y="top" data-voffset="249" data-whitespace="nowrap" data-transform_idle="o:1;"
                         data-transform_in="o:0" data-transform_out="o:0" data-start="500">To feed and educate!
                    </div>
                    <div class="tp-caption sfr tp-resizeme thm-banner-h1 heavy black-bg" data-x="left" data-hoffset="0"
                         data-y="top" data-voffset="318" data-whitespace="nowrap" data-transform_idle="o:1;"
                         data-transform_in="o:0" data-transform_out="o:0" data-start="1000">We need your support
                    </div>
                    <div class="tp-caption sfb tp-resizeme thm-banner-h3" data-x="left" data-hoffset="0" data-y="top"
                         data-voffset="386" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0"
                         data-transform_out="o:0" data-start="1500">Became a part to change the world
                    </div>
                    <div class="tp-caption sfl tp-resizeme" data-x="left" data-hoffset="0" data-y="top"
                         data-voffset="450" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0"
                         data-transform_out="o:0" data-start="2300"><a href="{% url 'donations' %}" class="thm-btn">Donate
                        Now</a>
                    </div>
                    <div class="tp-caption sfr tp-resizeme" data-x="left" data-hoffset="185" data-y="top"
                         data-voffset="450" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0"
                         data-transform_out="o:0" data-start="2600"><a href="#" class="thm-btn inverse">Learn More</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>


    <section class="call-to-action">
        <div class="container-fluid">
            <div class="clearfix">
                <div class="call-to-action-corner col-md-4"
                     style="background-image: url({% static 'img/call-to-action/left-box-bg.jpg' %});">
                    <div class="single-call-to-action">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-circle"></i>
                            </div>
                        </div>
                        <div class="content-box">
                            <h3>Donation</h3>
                            <p>There are many variations of lorem <br>passagei of Lorem Ipsum availabl </p>
                            <a href="{% url 'donations' %}" class="thm-btn inverse">Donate Now</a>
                        </div>
                    </div>
                </div>
                <div class="call-to-action-center col-md-4"
                     style="background-image: url({% static 'img/call-to-action/center-box-bg.jpg' %});">
                    <div class="single-call-to-action">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-social"></i>
                            </div>
                        </div>
                        <div class="content-box">
                            <h3>Volunteer</h3>
                            <p>There are many variations of lorem <br>passagei of Lorem Ipsum availabl </p>
                            <a href="#" class="thm-btn inverse">Join Now</a>
                        </div>
                    </div>
                </div>
                <div class="call-to-action-corner col-md-4"
                     style="background-image: url({% static 'img/call-to-action/right-box-bg.jpg' %});">
                    <div class="single-call-to-action">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-medical"></i>
                            </div>
                        </div>
                        <div class="content-box">
                            <h3>Fundraise</h3>
                            <p>There are many variations of lorem <br>passagei of Lorem Ipsum availabl </p>
                            <a href="#" class="thm-btn inverse">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="event-feature sec-padding" data-bg-color="#fafafa">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 md-col6-center">
                    <h4 class="sec-color text-uppercase double-line line-left">Upcoming Event</h4>
                    <div class="bx-event-carousel">
                        <div class="event">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="event-thumb">
                                        <div class="thumb">
                                            <img class="full-width" src="img/event/1.jpg" alt="">
                                        </div>
                                        <ul class="event-date">
                                            <li class="date">28</li>
                                            <li class="month">Aug</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="event-content">
                                        <h5 class="event-title"><a href="#">Charity For Education</a></h5>
                                        <ul class="event-held list-inline">
                                            <li class="mr-10" data-text-color="#555"><i class="fa fa-clock-o"></i> 6.00
                                                pm -
                                                8.30 pm
                                            </li>
                                            <li data-text-color="#555"><i class="fa fa-map-marker"></i> 69 Newyork City.
                                            </li>
                                        </ul>
                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Commodi
                                            expedita perspiciatis soluta quidem, recusandae sapiente.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="event-thumb">
                                        <div class="thumb">
                                            <img class="full-width" src="{% static 'img/event/1.jpg' %}" alt="">
                                        </div>
                                        <ul class="event-date">
                                            <li class="date">28</li>
                                            <li class="month">Aug</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="event-content">
                                        <h5 class="event-title"><a href="#">Charity For Education</a></h5>
                                        <ul class="event-held list-inline">
                                            <li class="mr-10" data-text-color="#555"><i class="fa fa-clock-o"></i> 6.00
                                                pm -
                                                8.30 pm
                                            </li>
                                            <li data-text-color="#555"><i class="fa fa-map-marker"></i> 69 Newyork City.
                                            </li>
                                        </ul>
                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Commodi
                                            expedita perspiciatis soluta quidem, recusandae sapiente.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="event-thumb">
                                        <div class="thumb">
                                            <img class="full-width" src="img/event/1.jpg" alt="">
                                        </div>
                                        <ul class="event-date">
                                            <li class="date">28</li>
                                            <li class="month">Aug</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="event-content">
                                        <h5 class="event-title"><a href="#">Charity For Education</a></h5>
                                        <ul class="event-held list-inline">
                                            <li class="mr-10" data-text-color="#555"><i class="fa fa-clock-o"></i> 6.00
                                                pm -
                                                8.30 pm
                                            </li>
                                            <li data-text-color="#555"><i class="fa fa-map-marker"></i> 69 Newyork City.
                                            </li>
                                        </ul>
                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Commodi
                                            expedita perspiciatis soluta quidem, recusandae sapiente.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="event-thumb">
                                        <div class="thumb">
                                            <img class="full-width" src="img/event/1.jpg" alt="">
                                        </div>
                                        <ul class="event-date">
                                            <li class="date">28</li>
                                            <li class="month">Aug</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="event-content">
                                        <h5 class="event-title"><a href="#">Charity For Education</a></h5>
                                        <ul class="event-held list-inline">
                                            <li class="mr-10" data-text-color="#555"><i class="fa fa-clock-o"></i> 6.00
                                                pm - 8.30 pm
                                            </li>
                                            <li data-text-color="#555"><i class="fa fa-map-marker"></i> 69 Newyork City.
                                            </li>
                                        </ul>
                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Commodi expedita perspiciatis soluta quidem, recusandae sapiente.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 md-col6-center mt-md-50">
                    <h4 class="sec-color text-uppercase double-line line-left">Featured Causes</h4>
                    <div class="featured-causes">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="thumb">
                                    <img class="full-width" src="img/causes/b1.jpg" alt="">
                                    <div class="causes-progress">
                                        <div class="progress-item">
                                            <div class="progress" data-value="85">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="85"
                                                     aria-valuemin="0" aria-valuemax="100">
                                                    <div class="value-holder"><span class="value"></span>%</div>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="list-inline">
                                            <li>Raised: $7890</li>
                                            <li class="text-thm pull-right">Goal: $9300</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="causes-details">
                                    <h3>Charity For Education</h3>
                                    <p class="p-title">Lorem ipsum dolor sit amet, consectet adipisicing elit. Sed ullam
                                        sequi at.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, quibusdam qui
                                        sequi
                                        ullam minima saepe, aliquid suscipit explicabo asperiores nesciunt.</p>
                                    <a class="thm-btn btn-xs" href="#">Donate Now</a>
                                    <a class="thm-btn inverse btn-xs" href="#">Read More</a>
                                    <h6>Help us by share:</h6>
                                    <ul class="social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="recent-causes sec-padding">
        <div class="container">
            <div class="sec-title text-center">
                <h2>Recent Causes</h2>
                <p>Lorem ipsum is a dummy text it will use for subtitle here</p>
                <span class="decor"><span class="inner"></span></span>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="causes sm-col5-center">
                        <div class="thumb">
                            <img class="full-width" alt="" src="img/causes/1.jpg">
                            <div class="donate-piechart">
                                <div class="piechart-block">
                                    <div class="piechart style-one" data-fg-color="rgba(250,119,68,1)" data-value=".75">
                                        <span>.75</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="causes-details clearfix">
                            <h4 class="title"><a href="#">Sponsor a child today</a></h4>
                            <ul class="about-causes list-inline clearfix">
                                <li class="causes-raised">Raised: $1890</li>
                                <li class="causes-goal">Goal: $2500</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur ambo elit. Numquam repellendus est rerum sed,
                                aliquid
                                atup inventore, voluptate, eveniet, soluta nostrum sint.</p>
                            <div>
                                <a href="#" class="thm-btn btn-xs"><i class="fa fa-angle-double-right text-white"></i>
                                    Donate Now</a>
                                <a class="thm-btn inverse btn-xs" href="#"><i
                                        class="fa fa-heart text-theme-colored"></i> 25
                                    Donators</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="causes sm-col5-center">
                        <div class="thumb">
                            <img class="full-width" alt="" src="img/causes/2.jpg">
                            <div class="donate-piechart">
                                <div class="piechart-block">
                                    <div class="piechart style-one" data-fg-color="rgba(250,119,68,1)" data-value=".75">
                                        <span>.75</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="causes-details clearfix">
                            <h4 class="title"><a href="#">Sponsor a child today</a></h4>
                            <ul class="about-causes list-inline clearfix">
                                <li class="causes-raised">Raised: $1890</li>
                                <li class="causes-goal">Goal: $2500</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur ambo elit. Numquam repellendus est rerum sed,
                                aliquid atup inventore, voluptate, eveniet, soluta nostrum sint.</p>
                            <div>
                                <a href="#" class="thm-btn btn-xs"><i class="fa fa-angle-double-right text-white"></i>
                                    Donate Now</a>
                                <a class="thm-btn inverse btn-xs" href="#"><i
                                        class="fa fa-heart text-theme-colored"></i> 25
                                    Donators</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="causes sm-col5-center">
                        <div class="thumb">
                            <img class="full-width" alt="" src="img/causes/3.jpg">
                            <div class="donate-piechart">
                                <div class="piechart-block">
                                    <div class="piechart style-one" data-fg-color="rgba(250,119,68,1)" data-value=".75">
                                        <span>.75</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="causes-details clearfix">
                            <h4 class="title"><a href="#">Sponsor a child today</a></h4>
                            <ul class="about-causes list-inline clearfix">
                                <li class="causes-raised">Raised: $1890</li>
                                <li class="causes-goal">Goal: $2500</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur ambo elit. Numquam repellendus est rerum sed,
                                aliquid
                                atup inventore, voluptate, eveniet, soluta nostrum sint.</p>
                            <div>
                                <a href="#" class="thm-btn btn-xs"><i class="fa fa-angle-double-right text-white"></i>
                                    Donate Now</a>
                                <a class="thm-btn inverse btn-xs" href="#"><i
                                        class="fa fa-heart text-theme-colored"></i> 25 Donators</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="overlay-white sec-padding parallax-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 promote-project text-center">
                    <h3>Save Children From Hunger</h3>
                    <div class="sec-title colored text-center">
						<span class="decor">
							<span class="inner"></span>
						</span>
                    </div>
                    <h2>Became a part of the world lorem ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quaerat atque, dolore. Amido
                        ipsum
                        dolor sit amet, consectetur adipisicing elit. Numquam quaerat atque, dolore.Lorem ipsum dolor
                        sit
                        amet, consectetur.</p>
                    <a href="#" class="thm-btn">Donate Now</a>
                    <a href="#" class="thm-btn inverse">Read More</a>
                </div>
            </div>
        </div>
    </section>


    <section class="gallery-section pb_2">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>Our Gallery</h2>
                <p>Lorem ipsum is a dummy text it will use for subtitle here</p>
                <span class="decor"><span class="inner"></span></span>
            </div>
        </div>

        <div class="clearfix">
            <!--Image Box-->
            <div class="image-box">
                <div class="inner-box">
                    <figure class="image"><a href="img/gallery/s1.jpg" class="lightbox-image"><img
                            src="img/gallery/s1.jpg"
                            alt=""></a></figure>
                    <a href="img/gallery/s1.jpg" class="lightbox-image btn-zoom" title="Image Title Here"><span
                            class="icon fa fa-dot-circle-o"></span></a>
                </div>
            </div>

            <!--Image Box-->
            <div class="image-box">
                <div class="inner-box">
                    <figure class="image"><a href="img/gallery/s2.jpg" class="lightbox-image"><img
                            src="img/gallery/s2.jpg"
                            alt=""></a></figure>
                    <a href="img/gallery/s2.jpg" class="lightbox-image btn-zoom" title="Image Title Here"><span
                            class="icon fa fa-dot-circle-o"></span></a>
                </div>
            </div>

            <!--Image Box-->
            <div class="image-box">
                <div class="inner-box">
                    <figure class="image"><a href="img/gallery/s3.jpg" class="lightbox-image"><img
                            src="img/gallery/s3.jpg"
                            alt=""></a></figure>
                    <a href="img/gallery/s3.jpg" class="lightbox-image btn-zoom" title="Image Title Here"><span
                            class="icon fa fa-dot-circle-o"></span></a>
                </div>
            </div>

            <!--Image Box-->
            <div class="image-box">
                <div class="inner-box">
                    <figure class="image"><a href="img/gallery/s4.jpg" class="lightbox-image"><img
                            src="img/gallery/s4.jpg"
                            alt=""></a></figure>
                    <a href="img/gallery/s4.jpg" class="lightbox-image btn-zoom" title="Image Title Here"><span
                            class="icon fa fa-dot-circle-o"></span></a>
                </div>
            </div>

            <!--Image Box-->
            <div class="image-box">
                <div class="inner-box">
                    <figure class="image"><a href="img/gallery/s5.jpg" class="lightbox-image"><img
                            src="img/gallery/s5.jpg"
                            alt=""></a></figure>
                    <a href="img/gallery/s5.jpg" class="lightbox-image btn-zoom" title="Image Title Here"><span
                            class="icon fa fa-dot-circle-o"></span></a>
                </div>
            </div>

            <!--Image Box-->
            <div class="image-box">
                <div class="inner-box">
                    <figure class="image"><a href="img/gallery/s6.jpg" class="lightbox-image"><img
                            src="img/gallery/s6.jpg"
                            alt=""></a></figure>
                    <a href="img/gallery/s6.jpg" class="lightbox-image btn-zoom" title="Image Title Here"><span
                            class="icon fa fa-dot-circle-o"></span></a>
                </div>
            </div>

            <!--Image Box-->
            <div class="image-box">
                <div class="inner-box">
                    <figure class="image"><a href="img/gallery/s7.jpg" class="lightbox-image"><img
                            src="img/gallery/s7.jpg"
                            alt=""></a></figure>
                    <a href="img/gallery/s7.jpg" class="lightbox-image btn-zoom" title="Image Title Here"><span
                            class="icon fa fa-dot-circle-o"></span></a>
                </div>
            </div>

            <!--Image Box-->
            <div class="image-box">
                <div class="inner-box">
                    <figure class="image"><a href="img/gallery/s8.jpg" class="lightbox-image"><img
                            src="img/gallery/s8.jpg"
                            alt=""></a></figure>
                    <a href="img/gallery/s8.jpg" class="lightbox-image btn-zoom" title="Image Title Here"><span
                            class="icon fa fa-dot-circle-o"></span></a>
                </div>
            </div>

        </div>
    </section>


    <section class="footer-call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-9 sm-text-center">
                    <h3>Here will be any kind lorem ipsum heading</h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have lorem</p>
                </div>
                <div class="col-md-3 text-right sm-text-center">
                    <a href="{% url 'gallery' %}" class="thm-btn inverse mt-sm-15">View Full Gallery</a>
                </div>
            </div>
        </div>
    </section>


    <section class="home-serivce sec-padding">
        <div class="container">
            <div class="sec-title text-center">
                <h2>Our Mission</h2>
                <p>Lorem ipsum is a dummy text it will use for subtitle here</p>
                <span class="decor"><span class="inner"></span></span>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-gesture-1"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Charity For Education</h3>
                            <p>There are many variations of lorem <br>passagei of Lorem Ipsum available <br> but the
                                majority have </p>
                            <a href="service-details.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-people-1"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Feed for hungry child</h3>
                            <p>There are many variations of lorem <br>passagei of Lorem Ipsum available <br> but the
                                majority have </p>
                            <a href="service-details.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-hand"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Home for homeless</h3>
                            <p>There are many variations of lorem <br>passagei of Lorem Ipsum available <br> but the
                                majority have </p>
                            <a href="service-details.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-people-1"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Feed for hungry child</h3>
                            <p>There are many variations of lorem <br>passagei of Lorem Ipsum available <br> but the
                                majority have </p>
                            <a href="service-details.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-hand"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Home for homeless</h3>
                            <p>There are many variations of lorem <br>passagei of Lorem Ipsum available <br> but the
                                majority have </p>
                            <a href="service-details.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-gesture-1"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Charity For Education</h3>
                            <p>There are many variations of lorem <br>passagei of Lorem Ipsum available <br> but the
                                majority have </p>
                            <a href="service-details.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="fact-counter-wrapper sec-padding parallax-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 md-text-center">
                    <h2>We are served since <b>35 years</b> <br>to helpless people with trust and <br>we are happy</h2>
                    <a href="#" class="thm-btn inverse mb-md-40">Be a part of us</a>
                </div>
                <div class="col-lg-6 col-md-12 md-text-center">
                    <div class="single-fact">
                        <div class="icon-box">
                            <i class="flaticon-shapes-2"></i>
                        </div>
                        <span class="timer" data-from="10" data-to="365" data-speed="5000"
                              data-refresh-interval="50">365</span>
                        <p>Total Awards</p>
                    </div>
                    <div class="single-fact">
                        <div class="icon-box">
                            <i class="flaticon-people-3"></i>
                        </div>
                        <span class="timer" data-from="10" data-to="2200" data-speed="5000"
                              data-refresh-interval="50">155</span>
                        <p>Total Volunteer</p>
                    </div>
                    <div class="single-fact">
                        <div class="icon-box">
                            <i class="flaticon-hands"></i>
                        </div>
                        <span class="timer" data-from="10" data-to="155" data-speed="5000"
                              data-refresh-interval="50">2200</span>
                        <p>Total Projects</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="sec-padding meet-Volunteer">
        <div class="container">
            <div class="row">
                <div class="col-xs-10">
                    <div class="sec-title text-left">
                        <h2>Meet Our Volunteers</h2>
                        <p>Lorem ipsum is a dummy text it will use for subtitle here</p>
                        <span class="decor"><span class="inner"></span></span>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="team-carousel owl-carousel owl-theme">
                    <div class="item">
                        <div class="single-team-member">
                            <div class="img-box">
                                <img src="{% static 'img/team/1.jpg' %}" alt="">
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>Muhibbur Rashid</h3>
                            <span>Businessman</span>
                            <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum
                                mediocritatem.</p>
                            <a href="volunteer-profile.html" class="thm-btn">View Profile</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-team-member">
                            <div class="img-box">
                                <img src="{% static 'img/team/2.jpg' %}" alt="">
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>Rashed Kabir</h3>
                            <span>Businessman</span>
                            <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum
                                mediocritatem.</p>
                            <a href="volunteer-profile.html" class="thm-btn">View Profile</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-team-member">
                            <div class="img-box">
                                <img src="{% static 'img/team/3.jpg' %}" alt="">
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>Jannatul Ferdous</h3>
                            <span>Businessman</span>
                            <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum
                                mediocritatem.</p>
                            <a href="volunteer-profile.html" class="thm-btn">View Profile</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-team-member">
                            <div class="img-box">
                                <img src="{% static 'img/team/4.jpg' %}" alt="">
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>Ashikur Rahman</h3>
                            <span>Businessman</span>
                            <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum
                                mediocritatem.</p>
                            <a href="volunteer-profile.html" class="thm-btn">View Profile</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-team-member">
                            <div class="img-box">
                                <img src="{% static 'img/team/1.jpg' %}" alt="">
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>Muhibbur Rashid</h3>
                            <span>Businessman</span>
                            <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum
                                mediocritatem.</p>
                            <a href="volunteer-profile.html" class="thm-btn">View Profile</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-team-member">
                            <div class="img-box">
                                <img src="{% static 'img/team/2.jpg' %}" alt="">
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>Rashed Kabir</h3>
                            <span>Businessman</span>
                            <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum
                                mediocritatem.</p>
                            <a href="volunteer-profile.html" class="thm-btn">View Profile</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-team-member">
                            <div class="img-box">
                                <img src="{% static 'img/team/3.jpg' %}" alt="">
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>Jannatul Ferdous</h3>
                            <span>Businessman</span>
                            <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum
                                mediocritatem.</p>
                            <a href="volunteer-profile.html" class="thm-btn">View Profile</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-team-member">
                            <div class="img-box">
                                <img src="{% static 'img/team/4.jpg' %}" alt="">
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>Ashikur Rahman</h3>
                            <span>Businessman</span>
                            <p>Lorem ipsum dolor sit amet, sea dolor essent nostrud no, pro no vidit aterum
                                mediocritatem.</p>
                            <a href="volunteer-profile.html" class="thm-btn">View Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="sec-padding testimonials-wrapper parallax-section">
        <div class="container">
            <div class="sec-title colored text-center">
                <h2>Testimonials</h2>
                <span class="decor">
					<span class="inner"></span>
				</span>
            </div>
            <div class="testimonaials-carousel owl-carousel owl-theme">
                <div class="item">
                    <div class="single-testimonaials">
                        <div class="qoute-box">
                            <i class="qoute">“</i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi
                            scriptorem</p>
                        <h3>Roberto Carlos</h3>
                        <span>Patient of Asthama</span>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonaials">
                        <div class="qoute-box">
                            <i class="qoute">“</i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi
                            scriptorem</p>
                        <h3>Roberto Carlos</h3>
                        <span>Patient of Asthama</span>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonaials">
                        <div class="qoute-box">
                            <i class="qoute">“</i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi
                            scriptorem</p>
                        <h3>Roberto Carlos</h3>
                        <span>Patient of Asthama</span>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonaials">
                        <div class="qoute-box">
                            <i class="qoute">“</i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi
                            scriptorem</p>
                        <h3>Roberto Carlos</h3>
                        <span>Patient of Asthama</span>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonaials">
                        <div class="qoute-box">
                            <i class="qoute">“</i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi
                            scriptorem</p>
                        <h3>Roberto Carlos</h3>
                        <span>Patient of Asthama</span>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonaials">
                        <div class="qoute-box">
                            <i class="qoute">“</i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi
                            scriptorem</p>
                        <h3>Roberto Carlos</h3>
                        <span>Patient of Asthama</span>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonaials">
                        <div class="qoute-box">
                            <i class="qoute">“</i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi
                            scriptorem</p>
                        <h3>Roberto Carlos</h3>
                        <span>Patient of Asthama</span>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonaials">
                        <div class="qoute-box">
                            <i class="qoute">“</i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi
                            scriptorem</p>
                        <h3>Roberto Carlos</h3>
                        <span>Patient of Asthama</span>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonaials">
                        <div class="qoute-box">
                            <i class="qoute">“</i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi
                            scriptorem</p>
                        <h3>Roberto Carlos</h3>
                        <span>Patient of Asthama</span>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonaials">
                        <div class="qoute-box">
                            <i class="qoute">“</i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi
                            scriptorem</p>
                        <h3>Roberto Carlos</h3>
                        <span>Patient of Asthama</span>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonaials">
                        <div class="qoute-box">
                            <i class="qoute">“</i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi
                            scriptorem</p>
                        <h3>Roberto Carlos</h3>
                        <span>Patient of Asthama</span>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonaials">
                        <div class="qoute-box">
                            <i class="qoute">“</i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, per justo iracundia an. Inani tation tritani mea ut. Mundi
                            scriptorem</p>
                        <h3>Roberto Carlos</h3>
                        <span>Patient of Asthama</span>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="p_40" data-bg-color="#eee">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="clients-carousel owl-carousel owl-theme">
                        <div class="item">
                            <div class="img-box">
                                <img src="{% static 'img/clients/logo-6.png' %}" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-box">
                                <img src="img/clients/logo-7.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-box">
                                <img src="img/clients/logo-8.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-box">
                                <img src="img/clients/logo-9.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-box">
                                <img src="img/clients/logo-10.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-box">
                                <img src="img/clients/logo-7.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-box">
                                <img src="img/clients/logo-7.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-box">
                                <img src="img/clients/logo-10.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}