{% extends 'Base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block bodyContent %}
    <section class="rev_slider_wrapper">
        <div id="slider1" class="rev_slider" data-version="5.0">
            <ul>
                <li data-transition="parallaxvertical">
                    <img src="{% static 'img/slides/1.jpg' %}" alt="" width="1920" height="705"
                         data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                    <div class="tp-caption sfl tp-resizeme thm-banner-h1 bg-warning" data-x="left" data-hoffset="0"
                         data-y="top"
                         data-voffset="225" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0"
                         data-transform_out="o:0" data-start="500">To feed and educate!
                    </div>
                    <div class="tp-caption sfr tp-resizeme thm-banner-h1 heavy bg-danger" data-x="left" data-hoffset="0"
                         data-y="top" data-voffset="290" data-whitespace="nowrap" data-transform_idle="o:1;"
                         data-transform_in="o:0" data-transform_out="o:0" data-start="1000">We need your support
                    </div>
                    <div class="tp-caption sfb tp-resizeme thm-banner-h3" data-x="left" data-hoffset="0" data-y="top"
                         data-voffset="368" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0"
                         data-transform_out="o:0" data-start="1500">Became a part to change the world
                    </div>
                    <div class="tp-caption sfl tp-resizeme" data-x="left" data-hoffset="0" data-y="top"
                         data-voffset="505" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0"
                         data-transform_out="o:0" data-start="2300">
                        <a href="{% url 'donation' %}" class="thm-btn">Donate Now</a>
                    </div>
                    <div class="tp-caption sfr tp-resizeme" data-x="left" data-hoffset="185" data-y="top"
                         data-voffset="505" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0"
                         data-transform_out="o:0" data-start="2600"><a href="{% url 'about' %}" class="thm-btn inverse">Learn
                        More</a>
                    </div>
                </li>
                <li data-transition="parallaxvertical">
                    <img src="{% static 'img/slides/2.jpg' %}" alt="" width="1920" height="705"
                         data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="2">
                    <div class="tp-caption sfl tp-resizeme thm-banner-h1 blue-bg" data-x="left" data-hoffset="0"
                         data-y="top" data-voffset="249" data-whitespace="nowrap" data-transform_idle="o:1;"
                         data-transform_in="o:0" data-transform_out="o:0" data-start="500">To feed and educate!
                    </div>
                    <div class="tp-caption sfr tp-resizeme thm-banner-h1 heavy black-bg" data-x="left" data-hoffset="0"
                         data-y="top" data-voffset="318" data-whitespace="nowrap" data-transform_idle="o:1;"
                         data-transform_in="o:0" data-transform_out="o:0" data-start="1000">We need your support
                    </div>
                    <div class="tp-caption sfb tp-resizeme thm-banner-h3" data-x="left" data-hoffset="0" data-y="top"
                         data-voffset="386" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0"
                         data-transform_out="o:0" data-start="1500">Became a part to change the world
                    </div>
                    <div class="tp-caption sfl tp-resizeme" data-x="left" data-hoffset="0" data-y="top"
                         data-voffset="450" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0"
                         data-transform_out="o:0" data-start="2300"><a href="{% url 'donation' %}" class="thm-btn">Donate
                        Now</a>
                    </div>
                    <div class="tp-caption sfr tp-resizeme" data-x="left" data-hoffset="185" data-y="top"
                         data-voffset="450" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0"
                         data-transform_out="o:0" data-start="2600"><a href="{% url 'about' %}"
                                                                       class="thm-btn inverse">Learn More</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="call-to-action mt_30">
        <div class="container">
            <div class="clearfix">
                <div class="call-to-action-corner col-md-4">
                    <div class="single-call-to-action">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-circle"></i>
                            </div>
                        </div>
                        <div class="content-box">
                            <h3>Donation</h3>
                            <p>Make a difference with a donation! Your support can help us continue our important work
                                in providing resources and support to those in need.</p>
                            <a href="{% url 'donation' %}" class="thm-btn inverse">Donate Now</a>
                        </div>
                    </div>
                </div>
                <div class="call-to-action-center col-md-4">
                    <div class="single-call-to-action">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-social"></i>
                            </div>
                        </div>
                        <div class="content-box">
                            <h3>Volunteer</h3>
                            <p>Volunteer with us and make a difference in your community! Our charity organization
                                relies on the support of dedicated volunteers to carry out our mission.</p>
                            <a href="{% url 'volunteers' %}" class="thm-btn inverse">Join Now</a>
                        </div>
                    </div>
                </div>
                <div class="call-to-action-corner col-md-4">
                    <div class="single-call-to-action">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-medical"></i>
                            </div>
                        </div>
                        <div class="content-box">
                            <h3>Fundraise</h3>
                            <p>Help us make a difference! Our charity organization is committed to improving the lives
                                of those in need, but we can't do it without your support.</p>
                            <a href="{% url 'donation' %}" class="thm-btn inverse">Donate Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="overlay-white sec-padding parallax-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 promote-project text-center">
                    <h2>Became a part of us to feed & educate people</h2>
                    <div class="sec-title colored text-center">
                        <span class="decor"><span class="inner"></span></span>
                    </div>
                    <p>Welcome to Ujalasahar, a charity foundation committed to making a positive impact in our
                        community and beyond. At Ujalasahar, we believe that every person deserves access to basic
                        necessities such as food, shelter, and education. We work tirelessly to support various causes
                        that help improve the lives of those in need.</p>
                    <a href="{% url 'donation' %}" class="thm-btn">Donate Now</a>
                    <a href="{% url 'about' %}" class="thm-btn inverse">Read More</a>
                </div>
            </div>
        </div>
    </section>

    {% if gallery %}
        <section class="gallery-section pb_2">
            <div class="auto-container">
                <div class="sec-title text-center">
                    <h2>Our Gallery</h2>
                    <span class="decor"><span class="inner"></span></span>
                </div>
            </div>
            <div class="clearfix">
                {% for i in gallery %}
                    <div class="image-box">
                        <div class="inner-box">
                            <figure class="image"><a href="{% static 'Media/Images' %}/{{ i.Image }}"
                                                     class="lightbox-image">
                                <img style="height: 250px" src="{% static 'Media/Images' %}/{{ i.Image }}" alt=""></a>
                            </figure>
                            <a href="{% static 'Media/Images' %}/{{ i.Image }}" class="lightbox-image btn-zoom"
                               title="{{ i.Image_Title }}"><span class="icon fa fa-dot-circle-o"></span></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="footer-call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 sm-text-center">
                        <h3>Here will be all pictures posted of our Organization </h3>
                    </div>
                    <div class="col-md-3 text-right sm-text-center">
                        <a href="{% url 'gallery' %}" class="thm-btn inverse mt-sm-15">View Full Gallery</a>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <section class="home-serivce sec-padding">
        <div class="container">
            <div class="sec-title text-center">
                <h2>Our Mission</h2>
                <span class="decor"><span class="inner"></span></span>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-gesture-1"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Charity For Education</h3>
                            <p>We are dedicated to providing access to education for all. We believe that education is a
                                fundamental right that should be available to everyone, regardless of their background
                                or c...</p>
                            <a href="{% url 'educaion' %}">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-people-1"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Feed for hungry child</h3>
                            <p>We believe that every child deserves access to nutritious food, which is why we are
                                committed to fighting hunger in our community. Our program is dedicated to providing
                                meals for children who may not have access to enough food on a regular ...</p>
                            <a href="{% url 'food' %}">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-hand"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Home for homeless</h3>
                            <p>We believe that every person deserves a safe and stable place to call home, which is why
                                we are committed to fighting homelessness in our community. Our program is dedicated to
                                providing housing and support services for individuals and families who are experiencing
                                ... <br>
                                <a href="{% url 'homeless' %}">Read More</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="fact-counter-wrapper sec-padding parallax-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 md-text-center">
                    <h2>We are served since <b>36 years</b> <br>to helpless people with trust and <br>we are happy</h2>
                    <a href="{% url 'volunteers' %}" class="thm-btn inverse mb-md-40">Be a part of us</a>
                </div>
                <div class="col-lg-6 col-md-12 md-text-center">
                    <div class="single-fact">
                        <div class="icon-box">
                            <i class="flaticon-shapes-2"></i>
                        </div>
                        <span class="timer" data-from="10" data-to="365" data-speed="5000"
                              data-refresh-interval="50">150</span>
                        <p>Total Awards</p>
                    </div>
                    <div class="single-fact">
                        <div class="icon-box">
                            <i class="flaticon-people-3"></i>
                        </div>
                        <span class="timer" data-from="1" data-to="{{ volunteers.count }}" data-speed="5000"
                              data-refresh-interval="50">0</span>
                        <p>Total Volunteer</p>
                    </div>
                    <div class="single-fact">
                        <div class="icon-box">
                            <i class="flaticon-hands"></i>
                        </div>
                        <span class="timer" data-from="1" data-to="{{ projects.count }}" data-speed="5000"
                              data-refresh-interval="50">0</span>
                        <p>Total Projects</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if volunteers %}
        <section class="sec-padding meet-Volunteer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-10">
                        <div class="sec-title text-left">
                            <h2>Meet Our Volunteers</h2>
                            <p>We are incredibly grateful for our volunteers and the difference they make every day. If
                                you are interested in joining our team and becoming a part of our mission, please don't
                                hesitate to contact us. Together, we can make a real difference in the world.</p>
                            <span class="decor"><span class="inner"></span></span>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="team-carousel owl-carousel owl-theme">
                        {% for i in volunteers %}
                            <div class="item">
                                <div class="single-team-member">
                                    <div class="img-box">
                                        <img style="height: 250px" src="{% static 'Media/Images' %}/{{ i.Photo }}"
                                             alt="No Image">
                                        <div class="overlay">
                                            <div class="box">
                                                <div class="content">
                                                    <ul>
                                                        <li><a href="https://fb.com/{{ i.Facebook_Username }}"
                                                               target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="https://twitter.com/{{ i.Twitter_Username }}"
                                                               target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="https://linkedin.com/in/{{ i.Linkedin_Username }}"
                                                               target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>{{ i.Name }}</h3>
                                    <span>{{ i.Income_Source }}</span>
                                    <p>{{ i.Describtion|slice:'100' }}...</p>
                                    <a href="{% url 'volunteer profile' i.Name|slugify|title i.id %}" class="thm-btn">
                                        View Profile</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}