{% extends 'base.html' %}
{% load static %}
{% block title %}Volunteers{% endblock %}
{% block bodyContent %}
    <section class="inner-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 sec-title colored text-center">
                    <h2>Volunteers</h2>
                    <ul class="breadcumb">
                        <li><a href="/">Home</a></li>
                        <li><i class="fa fa-angle-right"></i></li>
                        <li><span>Volunteers</span></li>
                    </ul>
                    <span class="decor"><span class="inner"></span></span>
                </div>
            </div>
        </div>
    </section>

    <section class="sec-padding meet-Volunteer pb_30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="single-team-member mb_60">
                        <div class="img-box">
                            <img class="full-width" src="{% static 'img/team/1.jpg' %}" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>Muhibbur Rashid</h3>
                        <span>Businessman</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit quamn quaerat atque, dolore. Amido
                            ipsum dolor sit amet, consectetur adipisicing elit. Numquam quaerat atque, dolore.</p>
                        <a href="volunteer-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-team-member mb_60">
                        <div class="img-box">
                            <img class="full-width" src="{% static 'img/team/2.jpg' %}" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>Rashed Kabir</h3>
                        <span>Businessman</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit quamn quaerat atque, dolore. Amido
                            ipsum dolor sit amet, consectetur adipisicing elit. Numquam quaerat atque, dolore.</p>
                        <a href="volunteer-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-team-member mb_60">
                        <div class="img-box">
                            <img class="full-width" src="{% static 'img/team/3.jpg' %}" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>Jannatul Ferdous</h3>
                        <span>Businessman</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit quamn quaerat atque, dolore. Amido
                            ipsum dolor sit amet, consectetur adipisicing elit. Numquam quaerat atque, dolore.</p>
                        <a href="volunteer-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-team-member mb_60">
                        <div class="img-box">
                            <img class="full-width" src="{% static 'img/team/4.jpg' %}" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>Ashikur Rahman</h3>
                        <span>Businessman</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit quamn quaerat atque, dolore. Amido
                            ipsum dolor sit amet, consectetur adipisicing elit. Numquam quaerat atque, dolore.</p>
                        <a href="volunteer-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-team-member mb_60">
                        <div class="img-box">
                            <img class="full-width" src="{% static 'img/team/1.jpg' %}" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>Muhibbur Rashid</h3>
                        <span>Businessman</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit quamn quaerat atque, dolore. Amido
                            ipsum dolor sit amet, consectetur adipisicing elit. Numquam quaerat atque, dolore.</p>
                        <a href="volunteer-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-team-member mb_60">
                        <div class="img-box">
                            <img class="full-width" src="{% static 'img/team/2.jpg' %}" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>Rashed Kabir</h3>
                        <span>Businessman</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit quamn quaerat atque, dolore. Amido
                            ipsum dolor sit amet, consectetur adipisicing elit. Numquam quaerat atque, dolore.</p>
                        <a href="volunteer-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-team-member mb_60">
                        <div class="img-box">
                            <img class="full-width" src="{% static 'img/team/3.jpg' %}" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>Jannatul Ferdous</h3>
                        <span>Businessman</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit quamn quaerat atque, dolore. Amido
                            ipsum dolor sit amet, consectetur adipisicing elit. Numquam quaerat atque, dolore.</p>
                        <a href="volunteer-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-team-member mb_60">
                        <div class="img-box">
                            <img class="full-width" src="{% static 'img/team/4.jpg' %}" alt="">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>Ashikur Rahman</h3>
                        <span>Businessman</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit quamn quaerat atque, dolore. Amido
                            ipsum dolor sit amet, consectetur adipisicing elit. Numquam quaerat atque, dolore.</p>
                        <a href="volunteer-profile.html" class="thm-btn">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="overlay-white sec-padding parallax-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 promote-project text-center">
                    <h3>Save Children From Hunger</h3>
                    <div class="sec-title colored text-center">
						<span class="decor">
							<span class="inner"></span>
						</span>
                    </div>
                    <h2>Became a part of the world lorem ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quaerat atque, dolore. Amido
                        ipsum dolor sit amet, consectetur adipisicing elit. Numquam quaerat atque, dolore.Lorem ipsum
                        dolor sit amet, consectetur.</p>
                    <a href="{% url 'donations' %}" class="thm-btn">Donate Now</a>
                    <a href="#" class="thm-btn inverse">Read More</a>
                </div>
            </div>
        </div>
    </section>


    <section class="p_40" data-bg-color="#eee">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="clients-carousel owl-carousel owl-theme">
                        <div class="item">
                            <div class="img-box">
                                <img src="{% static 'img/clients/logo-6.png' %}" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-box">
                                <img src="{% static 'img/clients/logo-6.png' %}" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-box">
                                <img src="{% static 'img/clients/logo-6.png' %}" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-box">
                                <img src="{% static 'img/clients/logo-6.png' %}" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-box">
                                <img src="{% static 'img/clients/logo-6.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}