{% extends 'base.html' %}
{% load static %}
{% block title %}Volunteers{% endblock %}
{% block bodyContent %}
    <section class="inner-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 sec-title colored text-center">
                    <h2>Volunteers</h2>
                    <ul class="breadcumb">
                        <li><a href="/">Home</a></li>
                        <li><i class="fa fa-angle-right"></i></li>
                        <li><span>Volunteers</span></li>
                    </ul>
                    <span class="decor"><span class="inner"></span></span>
                </div>
            </div>
        </div>
    </section>

    <section class="sec-padding meet-Volunteer pb_30">
        <div class="container-fluid">
            <div class="row">
                {% if vulData %}
                    {% for i in vulData %}
                        <div class="col-md-3">
                            <div class="single-team-member mb_60">
                                <div class="img-box">
                                    <img class="full-width" src="{% static 'Media/Images' %}/{{ i.Photo }}"
                                         alt="No Image">
                                    <div class="overlay">
                                        <div class="box">
                                            <div class="content">
                                                <ul>
                                                    <li><a href="https://fb.com/{{ i.Facebook_Username }}"
                                                           target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="https://twitter.com/{{ i.Twitter_Username }}"
                                                           target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="https://linkedin.com/in/{{ i.Linkedin_Username }}"
                                                           target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3>{{ i.Name }}</h3>
                                <span>{{ i.Income_Source }}</span>
                                <p>{{ i.Describtion }}</p>
                                <a href="{% url 'volunteer profile' i.id %}" class="thm-btn">View Profile</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h3 class="text-danger text-center mb_60">No Volunteers Are Registerd</h3>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}