{% extends 'Base.html' %}
{% load static %}
{% block title %}Volunteer Profile{% endblock %}
{% block bodyContent %}
    <section class="inner-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 sec-title colored text-center">
                    <h2>Volunteer Profile</h2>
                    <ul class="breadcumb">
                        <li><a href="/">Home</a></li>
                        <li><i class="fa fa-angle-right"></i></li>
                        <li><span>Volunteer Profile</span></li>
                    </ul>
                    <span class="decor"><span class="inner"></span></span>
                </div>
            </div>
        </div>
    </section>

    <section class="sec-padding volunteer-profile">
        <div class="container">
            {% for i in vulProfile %}
                <div class="row">
                    <div class="col-md-4">
                        <img src="{% static 'Media/Images' %}/{{ i.Photo }}" alt="No Image">
                    </div>
                    <div class="col-md-8 single-team-member">
                        <h3>{{ i.Name }}</h3>
                        <span>{{ I.Income_Source }}</span>
                        <p>{{ i.Describtion }}</p>
                        <ul class="infos">
                            <li><span>Hobby</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gardening</span>
                            </li>
                            <li><span>Degrees</span> <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ i.Qualification }}</span>
                            </li>
                            <li><span>Experience</span> <span>{{ i.Years_of_Experience }} years of Experience</span>
                            </li>
                        </ul>
                        <ul class="social">
                            <li><a href="https://fb.com/{{ i.Facebook_Username }}" target="_blank"><i
                                    class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/{{ i.Twitter_Username }}" target="_blank"><i
                                    class="fa fa-twitter"></i></a></li>
                            <li><a href="https://linkedin.com/in/{{ i.Linkedin_Username }}" target="_blank"><i
                                    class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="home-appointment-form volunteer-profile">
        <div class="container">
            <hr>
            <div class="heading">
                <h3>Became a part of the Ujala Sahar by joined our volunteer group.<br> Join Now!!</h3>
            </div>
            <div class="form-grp clearfix">
                <form action="#" class="clearfix contact-form" id="appointment-form">
                    <div class="single-form">
                        <input type="text" placeholder="Full Name" name="name">
                    </div>
                    <div class="single-form">
                        <input type="text" placeholder="Email" name="email">
                    </div>
                    <div class="single-form">
                        <div class="select-input-wrapper">
                            <select class="select-input" name="category">
                                <option value="" selected="selected">Select Your Country</option>
                                <option value="General Motors">Japan</option>
                                <option value="Land Rover">Australia</option>
                                <option value="Lexus">Bangladesh</option>
                                <option value="Lincoln">Japan</option>
                                <option value="Lincoln">Bangladesh</option>
                            </select>
                        </div>
                    </div>
                    <div class="single-form">
                        <div class="select-input-wrapper">
                            <select class="select-input" name="category">
                                <option value="" selected="selected">Select City</option>
                                <option value="General Motors">Dhaka</option>
                                <option value="Land Rover">Khulna</option>
                                <option value="Lexus">Dhaka</option>
                                <option value="Lincoln">Khulna</option>
                                <option value="Lincoln">Dhaka</option>
                            </select>
                        </div>
                    </div>
                    <div class="single-form">
                        <button type="submit">Send Now</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
